.bg-inicial {
    background-image: 
        linear-gradient(90deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0) 60%),
        url(../assets/images/bg-inicial.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-cinza {
    /*background: linear-gradient(to bottom, #FFFFFF 0%, #D8DADE 100%);*/
    background-color: #E8EAEC;
}

.subtitulo {
    font-size: 13px;
}

/* Estilos para a tabela */
.bg-white {
    background-color: #FFFFFF;
}
.titulo-tabela{
    font-weight: 600;
    font-size: 12px;
    color: #99a1b7 !important;
    text-transform: uppercase;
}
.texto-tabela-secundario {
    color: #78829d !important;
    font-size: 14px;
}
.texto-tabela {
    font-size: 14px;
    font-weight: 500;
}