.bg-inicial {
    background-image: 
        linear-gradient(90deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0) 60%),
        url(../assets/images/bg-inicial.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bg-cinza {
    /*background-image: 
        linear-gradient(90deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.85) 100%),
        url(../assets/images/bg-inicial.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
    background-color: #F3F6F9;
}
.subtitulo{
    font-size: 13px;
}